<nav class="navbar navbar-expand-md fixed-top bg-white">
    <div class="container nav">
        <a class="navbar-brand" href="#">
            Padang <span style="color: #ae27ee">Anggur</span>
        </a>
        <!-- Toggle button for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <img src="./img/toggler.png" alt="" id="icon-toggler" />
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item ms-auto">
                    <a class="nav-link" href="#">Beranda</a>
                </li>
                <li class="nav-item ms-auto">
                    <a class="nav-link" href="./produk.html">Produk</a>
                </li>
                <li class="nav-item ms-auto">
                    <a class="nav-link" href="#">Galeri</a>
                </li>
            </ul>
        </div>
    </div>
</nav>